<%= form_with(model: issue) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :batch %>
    <%= form.number_field :batch %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :assignee %>
    <%= form.text_field :assignee %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :confidential %>
    <%= form.check_box :confidential %>
  </div>

  <div class="field">
    <%= form.label :labels %>
    <%= form.text_area :labels %>
  </div>

  <div class="field">
    <%= form.label :milestone %>
    <%= form.text_field :milestone %>
  </div>

  <div class="field">
    <%= form.label :issue_created_at %>
    <%= form.date_select :issue_created_at %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :frontend %>
    <%= form.check_box :frontend %>
  </div>

  <div class="field">
    <%= form.label :backend %>
    <%= form.check_box :backend %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.text_field :priority %>
  </div>

  <div class="field">
    <%= form.label :severity %>
    <%= form.text_field :severity %>
  </div>

  <div class="field">
    <%= form.label :infradev %>
    <%= form.check_box :infradev %>
  </div>

  <div class="field">
    <%= form.label :corrective_action %>
    <%= form.check_box :corrective_action %>
  </div>

  <div class="field">
    <%= form.label :observability %>
    <%= form.check_box :observability %>
  </div>

  <div class="field">
    <%= form.label :performance %>
    <%= form.check_box :performance %>
  </div>

  <div class="field">
    <%= form.label :security %>
    <%= form.check_box :security %>
  </div>

  <div class="field">
    <%= form.label :app_limits %>
    <%= form.check_box :app_limits %>
  </div>

  <div class="field">
    <%= form.label :availability %>
    <%= form.check_box :availability %>
  </div>

  <div class="field">
    <%= form.label :database %>
    <%= form.check_box :database %>
  </div>

  <div class="field">
    <%= form.label :deliverable %>
    <%= form.check_box :deliverable %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
