<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<table>
  <thead>
    <tr>
      <th>Batch</th>
      <th>Title</th>
      <th>Assignee</th>
      <th>Due date</th>
      <th>Weight</th>
      <th>Confidential</th>
      <th>Labels</th>
      <th>Milestone</th>
      <th>Issue created at</th>
      <th>Url</th>
      <th>Frontend</th>
      <th>Backend</th>
      <th>Priority</th>
      <th>Severity</th>
      <th>Infradev</th>
      <th>Corrective action</th>
      <th>Observability</th>
      <th>Performance</th>
      <th>Security</th>
      <th>App limits</th>
      <th>Availability</th>
      <th>Database</th>
      <th>Deliverable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.batch %></td>
        <td><%= issue.title %></td>
        <td><%= issue.assignee %></td>
        <td><%= issue.due_date %></td>
        <td><%= issue.weight %></td>
        <td><%= issue.confidential %></td>
        <td><%= issue.labels %></td>
        <td><%= issue.milestone %></td>
        <td><%= issue.issue_created_at %></td>
        <td><%= issue.url %></td>
        <td><%= issue.frontend %></td>
        <td><%= issue.backend %></td>
        <td><%= issue.priority %></td>
        <td><%= issue.severity %></td>
        <td><%= issue.infradev %></td>
        <td><%= issue.corrective_action %></td>
        <td><%= issue.observability %></td>
        <td><%= issue.performance %></td>
        <td><%= issue.security %></td>
        <td><%= issue.app_limits %></td>
        <td><%= issue.availability %></td>
        <td><%= issue.database %></td>
        <td><%= issue.deliverable %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
