<p id="notice"><%= notice %></p>

<p>
  <strong>Batch:</strong>
  <%= @issue.batch %>
</p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @issue.assignee %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @issue.due_date %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @issue.weight %>
</p>

<p>
  <strong>Confidential:</strong>
  <%= @issue.confidential %>
</p>

<p>
  <strong>Labels:</strong>
  <%= @issue.labels %>
</p>

<p>
  <strong>Milestone:</strong>
  <%= @issue.milestone %>
</p>

<p>
  <strong>Issue created at:</strong>
  <%= @issue.issue_created_at %>
</p>

<p>
  <strong>Url:</strong>
  <%= @issue.url %>
</p>

<p>
  <strong>Frontend:</strong>
  <%= @issue.frontend %>
</p>

<p>
  <strong>Backend:</strong>
  <%= @issue.backend %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.priority %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @issue.severity %>
</p>

<p>
  <strong>Infradev:</strong>
  <%= @issue.infradev %>
</p>

<p>
  <strong>Corrective action:</strong>
  <%= @issue.corrective_action %>
</p>

<p>
  <strong>Observability:</strong>
  <%= @issue.observability %>
</p>

<p>
  <strong>Performance:</strong>
  <%= @issue.performance %>
</p>

<p>
  <strong>Security:</strong>
  <%= @issue.security %>
</p>

<p>
  <strong>App limits:</strong>
  <%= @issue.app_limits %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @issue.availability %>
</p>

<p>
  <strong>Database:</strong>
  <%= @issue.database %>
</p>

<p>
  <strong>Deliverable:</strong>
  <%= @issue.deliverable %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
